$base-space-value: 4px;
$base-space-1: $base-space-value * 1;
$base-space-2: $base-space-value * 2;
$base-space-3: $base-space-value * 3;
$base-space-4: $base-space-value * 4;
$base-space-5: $base-space-value * 5;
$base-space-6: $base-space-value * 6;
$base-space-7: $base-space-value * 7;
$base-space-8: $base-space-value * 8;
$base-space-9: $base-space-value * 9;
$base-space-10: $base-space-value * 10;
$base-space-12: $base-space-value * 12;
$base-space-14: $base-space-value * 14;
$base-space-15: $base-space-value * 15;
$base-space-16: $base-space-value * 16;
$base-space-17: $base-space-value * 17;
$base-space-18: $base-space-value * 18;
$base-space-20: $base-space-value * 20;
$base-space-21: $base-space-value * 21;
$base-space-22: $base-space-value * 22;
$base-space-23: $base-space-value * 23;
$base-space-24: $base-space-value * 24;
$base-space-25: $base-space-value * 25;
$base-space-26: $base-space-value * 26;
$base-space-27: $base-space-value * 27;
$base-space-28: $base-space-value * 28;
$base-space-29: $base-space-value * 29;
$base-space-30: $base-space-value * 30;
$base-space-31: $base-space-value * 31;
$base-space-32: $base-space-value * 32;


:root {
  // Taken from Reshaped: https://reshaped.so/
  --base-space-value: .25rem;
	
	@for $i from 1 through 32 {
		--base-space-#{$i}: #{calc(var(--base-space-value) * $i)};
	}
}
