.o-media-object {
	--media-object-direction: column;
	--media-object-content-order: auto;
	display: flex;
	flex-direction: var(--media-object-direction);
	align-items: stretch;
	gap: var(--section-gap);
	inline-size: 100%;

	& > * {
		flex: 1;
	}

	@media screen and (width > 47.5rem) {
		--media-object-direction: row;
	}
}

.o-media-object__content {
	order: var(--media-object-content-order);
}

.o-media-object--reversed {
	@media screen and (width > 47.5rem) {
    --media-object-content-order: 2;
  }
}

.o-media-object__img {
  flex-grow: 1;
  overflow: hidden;
	border-radius: var(--radius-medium);
	width: 100%;

  :is(img, picture) {
    aspect-ratio: var(--media-aspect-ratio);
    object-fit: cover;
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
  }

	:is(img, picture) {
		border-radius: var(--radius-medium);
  }

  &:has(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;

    svg {
      display: block;
      width: auto;
      height: 115%;
      max-height: none;
    }
  }
}
