---
import "./MediaObject.scss";
import { Picture } from "astro:assets";
import type { ImageMetadata } from "astro";
import type { HTMLTag, Polymorphic } from "astro/types";
import { Icon } from "astro-icon/components";
import Stack from "../Stack/Stack.astro";

type Props<Tag extends HTMLTag> = Polymorphic<{
	as: Tag;
	img?: ImageMetadata;
	imgAlt?: string;
	imgBordered?: boolean;
	illustration?: string;
	reversed?: boolean;
}>;

const {
	as: Tag = "div",
	img,
	imgAlt = "",
	imgBordered = false,
	illustration,
	reversed = false,
	...attrs
} = Astro.props;
---

<Tag
  class:list={["o-media-object", { "o-media-object--reversed": reversed }]}
  {...attrs}
>
	<Stack axis="y" gap={8} class="o-media-object__content">
		<slot />
	</Stack>
  <div class:list={["o-media-object__img", { "u-bordered": imgBordered }]}>
    {
      img && (
        <Picture
          formats={["avif", "webp"]}
          layout="constrained"
          src={img}
          alt={imgAlt}
        />
      )
    }
    {illustration && <Icon name={illustration} size="100%" aria-hidden="true" />}
  </div>
  
</Tag>
