---
import Alert from "../components/Alert/Alert.astro";
import Layout from "../layouts/Layout.astro";
import { pages } from "../site.config";
---

<Layout page={pages.contactFormSent}>
	<div class="l-section--condensed">
		<Alert variant="success" text="Votre message a bien été envoyé" description="Nous vous recontacterons sous 48h." />
	</div>
</Layout>
