---
import type { HTMLTag, Polymorphic } from "astro/types";
import { pages } from "../site.config";
import { Button } from "./Button/Button.tsx";
import Section from "./Section/Section.astro";
import SectionHeader from "./SectionHeader/SectionHeader.astro";
import Stack from "./Stack/Stack.astro";

type Props = {
	altColor?: boolean;
};

const { altColor = false, ...attrs } = Astro.props;
---

<Section
	verticallyCentered={true}
	gap="static"
	color={altColor ? "semantic-background-default-alt" : "semantic-background-subtle"}
	{...attrs}>
	<SectionHeader title="Un premier échange pour identifier vos enjeux">
		<Fragment slot="subtitle">Gratuit. Sans engagement. On identifie vos besoins en 30 minutes.</Fragment>
	</SectionHeader>
	<Stack gap={4} axis="x" wrap={true} justify="center">
		<Button as="a" href={pages.contact.path} variant="secondary">Parlez à un expert</Button>
		<Button as="a" href={pages.contact.path}>Demandez un diagnostic</Button>
	</Stack>
</Section>