---
import Link from "../components/Link/Link.astro";
import PageHeader from "../components/PageHeader.astro";
import Section from "../components/Section/Section.astro";
import Stack from "../components/Stack/Stack.astro";
import Layout from "../layouts/Layout.astro";
import { pages } from "../site.config";

const pathname = Astro.url.pathname.replace(/\/$/, "") || "/";
const page = Object.values(pages).find(
	(page) => page.path === pathname,
);

if (page) {
	page.header = {
		...page.header,
		backLink: {
			label: "Retour à l'accueil",
			href: pages.home.path,
		},
	};
}

if (!page) {
	throw new Error(`Page data not found for path: ${Astro.url.pathname}`);
}
---
<Layout page={page} usePageHeader={false}>
	<article class="l-article">
		<Section as="header">
			<PageHeader page={page} />
		</Section>

		<div class="l-section--condensed">
			<div class="prose">
				<slot />
			</div>
		</div>
	</article>
</Layout>
